In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
427,tt0817230,52000000,216485654,Valentine's Day,Jessica Alba|Jessica Biel|Bradley Cooper|Eric ...,Garry Marshall,A Love Story. More or Less.,More than a dozen Angelenos navigate Valentine...,125,Comedy|Romance,New Line Cinema|Karz Entertainment|Rice Films,2/10/2010,5.6,2010
1410,tt0397065,40000000,68766121,House of Wax,Elisha Cuthbert|Paris Hilton|Brian Van Holt|Ja...,Jaume Collet-Serra,Prey. Slay. Display,A group of unwitting teens are stranded near a...,113,Horror,Village Roadshow Pictures|Dark Castle Entertai...,5/6/2005,5.3,2005
1727,tt0465602,39000000,26820641,Shoot 'Em Up,Clive Owen|Monica Bellucci|Paul Giamatti|Steph...,Michael Davis,Just another family man making a living.,A man named Mr. Smith delivers a woman's baby ...,86,Action|Thriller|Comedy|Crime,New Line Cinema|Angry Films,7/26/2007,6.2,2007
1395,tt0384642,45000000,56070433,Kicking & Screaming,Will Ferrell|Robert Duvall|Kate Walsh|Musetta ...,Jesse Dylan,One man could lead this team to glory. . . Tha...,Phil Weston has been unathletic his entire lif...,95,Romance|Comedy|Family,Universal Pictures,5/13/2005,5.8,2005
1629,tt0381707,37000000,113086475,White Chicks,Shawn Wayans|Marlon Wayans|Jaime King|Frankie ...,Keenen Ivory Wayans,They're going deep undercover.,"Two FBI agent brothers, Marcus and Kevin Copel...",109,Comedy,Columbia Pictures|Revolution Studios|Wayans Br...,6/23/2004,6.4,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data.revenue - data.budget

Directors = pd.Series(data.director.str.cat(sep='|').split('|')).unique()

data['release_month'] = data.release_date.apply(lambda x:str(x).split('/')[0])

data['title_length'] = data.original_title.apply(len)

data['average_len_overview'] = data.overview.apply(lambda x: len(str(x).split()))

#Directors_all.columns = ['director']
#Directors = pd.DataFrame(Directors_all.director.unique())
#Directors.columns = ['director']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,43,75

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,17,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()]
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [12]:
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,6,28

In [15]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [16]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
release_month           1478
title_length            1478
average_len_overview    1478
dtype: int64

In [19]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
data9 = data[data.release_year == 2008]
data9[data9.revenue == data9.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67

In [21]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
data10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data10[data10.profit == data10.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

In [23]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [24]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [25]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [26]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|')).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [28]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [29]:
data13 = pd.DataFrame(Directors)
data13.columns = ['director']
data13['Revenue_sum'] = [sum(data[data.director.str.contains(
    director)].revenue) for director in data13['director']]

data13

             director  Revenue_sum
0     Colin Trevorrow   1513528810
1       George Miller    913178428
2    Robert Schwentke    651938962
3         J.J. Abrams   3579169916
4           James Wan   1863441367
..                ...          ...
992       Bonnie Hunt     36609995
993          Uli Edel     13555988
994       Des McAnuff     35134820
995      Diane Keaton     36037909
996      Mary Lambert      5217498

[997 rows x 2 columns]

In [30]:
data13[data13.Revenue_sum == data13.Revenue_sum.max()]

          director  Revenue_sum
128  Peter Jackson   6490593685

In [31]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
data14 = data[data.genres.str.contains('Action')]
directors = data14.director.str.cat(sep='|').split('|') 

pd.Series(directors).value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
MÃ¥ns MÃ¥rlind        1
Mathieu Kassovitz     1
John McTiernan        1
Brian Helgeland       1
Geoffrey Sax          1
Length: 364, dtype: int64

In [33]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
data15 = data[data.release_year == 2012]
cast_data15 = pd.Series(data15.cast.str.cat(sep='|').split('|')).unique()

pd.Series({cast: sum(data15[data15.cast.str.contains(cast)].revenue) for cast in cast_data15}).nlargest()

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Chris Evans          1519557910
dtype: int64

In [35]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts()

Matt Damon         18
Adam Sandler       17
Angelina Jolie     16
Tom Cruise         15
Eddie Murphy       15
                   ..
Jeffrey Donovan     1
Brian Dennehy       1
Daisy Ridley        1
Billy Boyd          1
Steve Blum          1
Length: 1505, dtype: int64

In [37]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
genres_Cage = data[data.cast.str.contains('Nicolas Cage')].genres

pd.Series(genres_Cage.str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

In [39]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
Param_Pict = data[data.production_companies.str.contains('Paramount Pictures')] 
Param_Pict[Param_Pict.profit == Param_Pict.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,average_len_overview
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,20,23

In [41]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
data.groupby('release_year').sum().sort_values('revenue', ascending=False)

,budget,revenue,runtime,vote_average,profit,title_length,average_len_overview
release_year,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,1601,5516
2014,7008050000,23405862953,13444,774.5,16397812953,1864,6346
2013,7970620000,23213799791,15039,846.9,15243179791,1925,6876
2012,7002000000,23079001687,12145,682.1,16077001687,1684,5905
2011,7946550531,22676791872,15355,868.5,14730241341,2199,7856
2010,7540000000,21071204961,13592,762.1,13531204961,1927,7682
2009,6838046652,20261791024,14187,800.2,13423744372,2012,6892
2008,6588900000,18252781990,12979,731.1,11663881990,1862,6475
2007,6596495000,18162406801,14305,809.3,11565911801,1948,6231
2004,6029250000,15663430720,12014,671.3,9634180720,1778,5778
2005,6327500000,15309425558,13387,733.5,8981925558,1861,6139
2006,6083965000,14775042320,13952,775.4,8691077320,1906,6069
2003,5117300000,14346123312,10623,574.4,9228823312,1551,4979
2002,5134000000,14136361487,11528,653.1,9002361487,1535,6021
2001,5067150000,13017764865,11284,619.8,7950614865,1485,5327
2000,4562700000,10664099805,9956,542.5,6101399805,1267,4856

In [43]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
Warn_Bros = data[data.production_companies.str.contains('Warner Bros')] 
Warn_Bros.groupby('release_year').sum().sort_values('revenue', ascending=False)

,budget,revenue,runtime,vote_average,profit,title_length,average_len_overview
release_year,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,176,670
2007,982000000,3183675217,1721,95.4,2201675217,273,817
2008,916000000,3050595031,1366,72.0,2134595031,149,514
2010,1034000000,3008712985,1421,79.6,1974712985,201,875
2011,974000000,2845393682,1248,68.3,1871393682,220,554
2003,890000000,2745493377,1085,56.7,1855493377,178,595
2009,915500000,2737954136,1305,67.9,1822454136,158,562
2004,1100000000,2731933725,1624,78.7,1631933725,194,760
2013,963500000,2599953400,1100,59.9,1636453400,114,711
2005,861000000,2412980298,1193,63.0,1551980298,170,581
2001,923000000,2266545668,1571,83.6,1343545668,222,768
2012,611500000,1869520056,579,30.0,1258020056,70,274
2002,680000000,1702709901,1281,70.6,1022709901,189,525
2015,820800003,1691168351,1358,75.9,870368348,137,601
2006,901000000,1521170743,1504,81.0,620170743,178,567
2000,572900000,1025531386,1333,68.0,452631386,162,546

In [45]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
months = data.release_date.apply(lambda x: str(x).split('/')[0])
months.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [47]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
months2 = pd.Series(months.value_counts())
# понимаю, что очень криво, но, честно говоря, устал ломать голову )))
months2['6'] + months2['7'] + months2['8']

450

In [49]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
data23 = data[(data.release_month == '1') | (
    data.release_month == '2') | (data.release_month == '12')]
# взял код из предыдущего задания, отсортировал режиссеров, но теперь не оставлял уникальные значения, т.к. надо их посчитать
Directors23 = pd.Series(data23.director.str.cat(sep='|').split('|'))

pd.Series(Directors23).value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Nancy Meyers         4
                    ..
Alexander Payne      1
Lee Tamahori         1
Jay Roach            1
Tom Hooper           1
Courtney Solomon     1
Length: 358, dtype: int64

In [51]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
#studious = pd.Series(data.production_companies.str.cat(sep='|').split('|')).unique()

data24 = data[data.title_length == data.title_length.max()]
studious = data24.production_companies.str.cat(
    sep='|').split('|')

studious
# возможно тут задача стояла вычислить среднее значение букв в названиях всех фильмов
# (потому 20C Fox и не видно в ответах - но в явном виде это не сказано, так что формулируйте задания четче )))

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

In [53]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
# data.average_len_overview
studious = pd.Series(data.production_companies.str.cat(
    sep='|').split('|')).unique()
# создаю небольшой фрейм с уникальными значениями компаний
data25 = pd.DataFrame(studious)

data25['mean_overview'] = [(data[data.production_companies.str.contains(
    studio)].average_len_overview).mean() for studio in studious]
#вношу в него столбец подсчета среднего значения количества слов в описании

data25.nlargest(3, 'mean_overview')

# таким же макаром можно было бы решить предыдущую задачу, если ыб она была бы сформулирована таким же четким образом ;)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                          0  mean_overview
950   Midnight Picture Show          175.0
1445   Room 9 Entertainment          161.0
1141     98 MPH Productions          159.0

In [55]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
# непонятная постановка задачи: что имеется в виду? 1 процент из всех фильмов с наивысшим рейтингом? Тогда у нас получается 19 фильмов
len(data.original_title)
one_precent = 1889/100
one_precent

# или имеется в виду фильмы, которые вошли в 1% рейтинга, т.е. в диапазон {макс.рейтинг - 1%; макс.рейтинг}?
# тогда тоже непонятно, потому что макимальный рейтинг 8.1 только у одного фильма, 
#а 8.0 еще у 4-х и эти 4 фильма никак уже не попадают в диапазон одного процента...
data.nlargest(6, 'vote_average')[['original_title','vote_average']]

# Это задачка на внимательность?

# почитал  в Slack, что речь все же шло про квантиль...

data[data.vote_average >= data.vote_average.quantile(q=0.99)][['original_title','vote_average']]

                                         original_title  vote_average
9                                            Inside Out           8.0
28                                            Spotlight           7.8
34                                                 Room           8.0
118                                        Interstellar           8.0
119                             Guardians of the Galaxy           7.9
124                                          Big Hero 6           7.8
125                                  The Imitation Game           8.0
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
155                            The Theory of Everything           7.8
177                              The Fault in Our Stars           7.8
283                                          Mr. Nobody           7.8
316                                            3 Idiots           7.8
370                                           Inception           7.9
496   The Lord of the Rings: The Fellowship of the Ring           7.8
599                                     The Dark Knight           8.1
863               The Lord of the Rings: The Two Towers           7.8
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
1183                            The Wolf of Wall Street           7.9
1188                                                Her           7.8
1191                                   12 Years a Slave           7.9
1205                                          Prisoners           7.8
1213                                 Dallas Buyers Club           7.8
1444                                       The Prestige           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1688                                There Will Be Blood           7.8
1800                                            Memento           7.9

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
movies = [x for x in data.cast]  # length = 1889 - фильмы

actors_list = [x for x in pd.Series(data.cast.str.cat(
    sep='|').split('|')).unique()]  # length = 3406 - актеры

actors_pairs = []

#for first_actor in actors_list:
#    for second_actor in actors_list:
#        for movie in movies:
#            if first_actor in movie and second_actor in movie:
#                actors_pairs.append(first_actor + '|' + second_actor)

In [59]:
data[data.cast.str.contains('Chris Pratt', 'Irrfan Khan')]
s = pd.DataFrame(actors_pairs)
s.columns = ['pairs']

# В общем я поломал голову как это все решить - тупым перебором долго инеэффективно, 
#а как решить методами pandas я так и не разобрался...

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

26